.clearfix::after {content: ''; display: block; clear: both; }
body {background: #efefef; margin: 0; }

*{margin: 0; padding: 0; }
a {color: inherit; text-decoration: none; /*消除下划线*/ }

.offsetInit{
  padding-bottom: 50px;
  transform: translateY(0);
  transition: all 0.5s;
}


.loadMask{display: none; z-index: 3; height: 100%; width: 100%; top: 0; left: 0; position: fixed;
  background: #888; justify-content: center; align-items: center; }

.loadMask.active{display: flex; }
.loading{height: 200px; width: 200px;  /*To make ::before and ::after center*/ position: relative; }

.loading::before,.loading::after{content:''; position: absolute; top:0; left:0; bottom:0; right:0; margin:auto;   /*these code set center*/ height: 0px;
  width: 0px; /*without color while cover the father range*/ background: black; border-radius: 50%; animation:load 1s linear infinite ; }

.loading::after{animation-delay: .5s; }

@keyframes load{
  0%{
    width:0px;height:0px;
    opacity:1;
  }
  100%{
    width:100px;height:100px;
    opacity:0;
  }
}

.topNavBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  
}


.topNavBarInner {color: #9e9a9a; padding: 20px 16px 20px 16px; transition: all .3s; }
.topNavBarInner.active{color: #3d4451; background: #f3f0f0e6; padding: 10px 16px; box-shadow: 0px 5px 18px 5px rgba(0,0,0,0.54); }
 .topNavBar nav {padding-top: 7px; }
.topNavBar  nav > ul{list-style: none; /*消除列表样式*/ margin: 0; padding: 0; }
 .topNavBar nav > ul > li{float: left; margin: 0 17px; position: relative;}
 .topNavBar nav > ul > li .secondMenu{position: absolute;top: 100%;right: 0; background: white; 
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding:5px 10px;
  display: none;
}

.topNavBar nav > ul > li.active .secondMenu{
  display: block;
  animation: menuSlice .3s;
}

.topNavBar nav > ul > li.leave .secondMenu{
  display: block;
  margin-right: 100%;
  opacity: 0;
  animation: menuLeave .3s;

}
@keyframes menuSlice{
    0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
@keyframes menuLeave{
    0%{
    display: block;
    opacity: 1;
    margin-right: 0%;
  }
  100%{
    display: none;
      margin-right: 100%;
      opacity: 0;
  }
}

 .topNavBar  nav > ul > li  a {font-size: 12px; font-weight: bold; border-top: 3px solid transparent; /*加上透明的外边框，用于对齐*/
  border-bottom: 3px solid transparent; padding-top: 5px; padding-bottom: 5px; 
  display: block;  /*当li的高度与a的高度不同时，设置a标签的样式为block即可与li同高*/ 
  position: relative;
}
 .topNavBar nav > ul  li.active  a::after,
 .topNavBar nav > ul  li.leave  a::after
  {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background: #e06567;
    animation:aHover .3s;
   }
  .topNavBar nav > ul  li.leave  a::after{
    width: 0%;
    animation: aLeave .3s;
  }

.topNavBar nav > ul  li.highlight  a::before{
      content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background: #e06567;
    animation:aHover .3s;
}



   @keyframes aHover{
    from{width: 0%;}
    to{width: 100%;}
   }

   @keyframes aLeave{
    from{width: 100%;}
    to{width: 0%;}
   }
 .topNavBar .logo {font-size: 24px; font-family: 'Arial Black'; padding-top: 3px; padding-bottom: 4px; }
.topNavBar .logo .rs {margin-right: 4px; color: #e6686a; }
.topNavBar .logo .card {color: #9a9da2; }

.banner{height: 515px; background-image: url(./img/background.jpg); background-position: center center; background-size: cover; }
.banner .mask{height: 515px; background-color: rgba(0, 0, 0, 0.5); }

.userCard{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f0f0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}



#userCard.offset,
#skills.offset,
#portfolio.offset{
    transform: translateY(50px);
}

@keyframes partSlice{
  from{margin-top: 100px}
  to{margin-top: 0px}
}

.pictureAndText{
  padding: 50px;
}


.userCard .picture{
  float: left;
 /* border:1px solid red;*/

}

.userCard .text{
  float:left;
  /*border:1px solid red;*/
  margin-left: 65px;
  width: 470px; 
}


.userCard .welcome {
  background: #e6686a;
  color: white;
  display: inline-block;/*let margin-bottom take effect*/
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}

.userCard .welcome .triangle {
  /*display: block;*/
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}


.userCard .text h1{
  margin-top: 18px;
}


.userCard .text hr{
  margin: 20px 0 50px 0;
}

.userCard .pictureAndText{
  padding: 50px;
}


.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}

.userCard dl dd{
  width: 70%;
  color: #474a52;
}


.userCard > footer.media{
  background: #E6686A;
  text-align: center;
}

.userCard > footer.media > a{
  display: inline-block; /*to set width and height*/
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}

.userCard > footer.media > a:hover{
  background: #CF5D5F;
}


.userCard svg{
  width: 30px;
  height: 30px; 
  fill: white;
  vertical-align: top; /*行内元素（inline）或表格单元格（table-cell）元素的垂直对齐方式,try to set block can have the same result*/
}


body > main {
  margin-top: -340px;
}

main .downResume-Box {
  text-align: center;

}

main .downResume-Box > .downResume {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  margin: 32px 0;
  font-weight: bold;
  color: #3d4451;
  border-radius: 5px;
  transition: box-shadow 0.2s;

}

main .downResume-Box > .downResume:hover {
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.15);
}

main > .introduce{
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.8;    
}


section.skills,
section.portfolio{
  max-width: 940px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

}


section.skills > h2 ,
section.portfolio > h2 ,
section.messages > h2{
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}


ul,
ol {
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

section.skills > ol{
  background: white;
  padding: 42px 50px 10px;
  margin-top: 30px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

section.skills > ol > li{
  float: left;
  width: 48%;
  overflow: hidden;
}
section.skills > ol > li:nth-child(even){
  float: right;
}

section.skills h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}

section.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
  transform: translateX(0); 
  transition: all 1s; 
}

section.skills.offset .progressBar{
  transform: translateX(-100%);
}



section.skills .progressBar > .progress {
  height: 100%;
  background: #E6686A;
  width: 70%;
  border-radius: 2px;
}




section.portfolio{
  margin-bottom: 40px;
  text-align: center;
}

section.portfolio > nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}

section.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer; /*set mouse icon to hand*/
}



section.portfolio > nav > ol > li:first-child {
  margin-left: 0;

}

section.portfolio > nav .bar{
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 28px;
  border-radius: 2px;
}
section.portfolio > nav .bar-inner{
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  transition: all 0.3s;
}
section.portfolio > nav .bar.state-1 .bar-inner{
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
  margin-left: 65px;
  width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
  margin-left: 140px;
  width: 93px;
}

section.portfolio .works{
  position: relative;
  z-index: 1;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
  position: absolute;
}

.swiper-button-next , .swiper-button-prev{
  width: 44px;
  border: 15px solid white;
  border-radius: 50%;
  background-color: white;
}

